global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "workers"
    static_configs:
      - targets: ["worker:8080", "scheduler:8082"]

  - job_name: "cassandra"
    static_configs:
      - targets: ["cassandra1:9103", "cassandra2:9103", "cassandra3:9103"]
